h2{
    font-size: x-large;
}

.noticias{
    display: flex;
    flex-direction: column;
}

.news{
    border-bottom: solid 2px rgba(170, 227, 245, 0.938);
}
.news__img{
    max-width: 700px; 
}

.news__date{
    font-style: italic;
    font-size: small;

}
.noticias__form{
    border: 2px solid rgba(170, 227, 245, 0.938);
    border-radius: 6px;
    
}

.noticias__formulario{
    display: flex;
    justify-content: space-around;
    margin-bottom: 6px;
}

.noticias__formulario--item{
    margin-top: 2px;
}

.noticias__formulario--btn{
    display: flex;
}

label{
    
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
}

input{
    
    border: solid 2px rgba(170, 227, 245, 0.938);
    border-radius: 4px;
    padding: 6px;
    min-width: 350px;
    color: gray;
}

.input__text{
    height: 150px;
}

.noticias__formulario--boton{
    background-color: rgba(170, 227, 245, 0.938);
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid 2px rgba(170, 227, 245, 0.938);
    border-radius: 4px;
    padding: 10px;
    min-width: 350px;
}

.noticias__formulario--boton:hover {
    background-color: white;
    color: rgba(170, 227, 245, 0.938);
}
