<section class="noticias">
    <div class="noticias__lista">
        <h1>Notícias creadas</h1>
    </div>

    <div class="noticias__formulario">
        <h1>Añadir notícias</h1>
        <div>
            <div class="noticias__formulario--item">
                <label for="title">Título de la notícia</label>
                <input type="text" id="title" placeholder="Introduce el título">
            </div>
            <div class="noticias__formulario--item">
                <label for="img">Imagen</label>
                <input type="text" id="img" placeholder="Introduce una imagen">
            </div>
            <div class="noticias__formulario--item">
                <label for="text">Cuerpo de la notícia</label>
                <input type="text" id="text" placeholder="Introduce el texto">
            </div>
            <div class="noticias__formulario--item">
                <label for="date">Fecha de publicación</label>
                <input type="date" id="date" placeholder="Introduce la fecha de publicación">
            </div>
            <button class="noticias__formulario--boton">Añadir notícia</button>
        </div>
    </div>

</section>